<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>欢迎页</title>
</head>
<body>
<div class="layui-fluid">
    <h3>欢迎登录</h3>
    <br>
    <p>jboot-admin开源地址：欢迎star</p>
    <p>gitee：<a href="https://gitee.com/rlaxuc/jboot-admin">https://gitee.com/rlaxuc/jboot-admin</a></p>
    <p>github：<a href="https://github.com/pkanyue/jboot-admin">https://github.com/pkanyue/jboot-admin</a></p>
</div>
</body>
</html>
