<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headcssjs :: common_header(~{::title},~{::link})">
    <title>模板详情</title>
    <link>
</head>
<body>
<div class="x-body">
    <form id="addForm" class="layui-form" action="">
        <input type="hidden" name="id"  th:value="${tpl.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>
            <div class="layui-input-block">
                <input type="text" name="tplName" placeholder="" class="layui-input" value="" required
                       lay-verify="required" autocomplete="off" th:value="${tpl.tplName}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板序号</label>
            <div class="layui-input-block">
                <input type="text" name="tplName" placeholder="" class="layui-input" value="" required
                       lay-verify="required" autocomplete="off" th:value="${tpl.tplNo}" disabled="disabled"/>
            </div>
        </div>

        <div class="layui-form-item" th:if="${com.smsSendType == 0}">
            <label class="layui-form-label">短信签名</label>
            <div class="layui-input-block">
                <input type="text" name="tplSmsHeader" placeholder=""
                       class="layui-input" value="" required
                       lay-verify="required" autocomplete="off" th:value="${tpl.tplSmsHeader}"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">模板内容</label>
            <div class="layui-input-block">
                <input type="text" name="tplContent" placeholder=""
                       class="layui-input" value="" required
                       lay-verify="required" autocomplete="off"  th:value="${tpl.tplContent}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block">
                <input type="text" name="tplContent" placeholder=""
                       class="layui-input" value="" required
                       th:value="${com.sdktag}"
                       lay-verify="required" autocomplete="off" disabled="disabled"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="tplRemark" placeholder=""
                       class="layui-input" value="" required
                       lay-verify="required" autocomplete="off" th:value="${tpl.tplRemark}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="sub" lay-submit>
                保存
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>
</div>
</body>
<div th:replace="common/headcssjs::js"></div>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
        form.on('submit(sub)', function (data) {

            util.sendAjax({
                type: 'POST',
                url: '/template/postUpdate',
                data: $('#addForm').serialize(),
                loadFlag: true,
                success: function (data) {
                    pop_close();
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>
</html>
